Sem2App.iml
.idea/.name
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/Maven__at_favre_lib_bcrypt_0_9_0.xml
.idea/libraries/Maven__at_favre_lib_bytes_1_3_0.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
target
docs/SprintA/DUC.vpp.bak_000f
docs/SprintB/US3/US3 SD.vpp.bak_000f
docs/SprintB/DUC.vpp.bak_001d

